apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: jxco
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-etpr-tenant/byoc-app-vvah/jxco@sha256:c6d5bef62e15747a2fd2d2533de89d1783d7ce03d5a2038724b683b132e433c4
        name: my-java-quarkus
        resources: {}
status: {}
