apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: jxco
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: jxco
    app.kubernetes.io/part-of: byoc-app-vvah
  name: jxco
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: jxco
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: jxco
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-etpr-tenant/byoc-app-vvah/jxco@sha256:c6d5bef62e15747a2fd2d2533de89d1783d7ce03d5a2038724b683b132e433c4
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
